
* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
}

html,
body,
#root {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

#root > main {
  flex: 1 1;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;
}

.column { flex-direction: column; }